build: [
  ["cargo" "build" "--package" "pyro-caml"] {dev}
  [
    "cargo"
    "build"
    "--config"
    "vendor/config.toml"
    "--release"
    "--package"
    "pyro-caml"
  ]
]

install: [
  "cp" "target/release/pyro-caml" "%{bin}%/pyro-caml"
]
